Makefile
globals.mk
shared.tf

terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
.terraform
.terraform.tfstate.lock.info
crash.log

*/terraform.tfvars
*/terraform.tfstate
*/terraform.tfstate.backup
*/.terraform
*/.terraform.tfstate.lock.info

*/versions.tf

ansible_provision_cmd.tpl
*/ansible_provision_cmd.tpl

openstack/clouds-public.yaml
openstack/output_minicloud.tf
openstack/update_ssh_config_minicloud.tf

terraform-provider-yaml_*
*/terraform-provider-yaml_*
*/crash.log

*.swp
*/*.swp
*/*/*.swp
